




@import"https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";

i{
margin-bottom: 10px !important;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: cursive;
}

a{
    text-decoration: none !important;
    color: #000 !important;
}


/* header styling */

.img-1{
    width: 100% !important;
    height: 400px !important;
}

.hero img{
    width: 400px;
}

.chaplain img{
    width: 280px !important;
}

/* main styling */

/* card styling */

/* gallery-styling */




.gallery-image img{
    height: 200px;
    width: 200px;
}

.gallery-image{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(225px, 1fr));
	grid-gap: 2px;
}

.gallery h2{
    text-align: center;
}

/* GALLERY NAVIGATION */
.more a:hover{
    background: #000;
    color: yellow !important;
    padding: 10px;
}


/* SPECIAL */
.list-item li:hover{
    color: red;
    cursor: pointer;
}


.list-item .btn{
    display: none !important;
}
 /* SPECIAL ENDS */










/* media query styling */
@media (max-width: 768px){



    .img-1{
        height: 300px !important;
    }

    .hero img{
        height: 300px !important;
        width: 100% !important;
    }

    .main img{
        height: 200px !important;
        padding: 10px;
    }


    .gallery-image img{
        height: 400px;
        width: 100%;
        padding: 20px;
    }
    
    .gallery-image{
        display: block;
   
    }

   
    .chaplain{
        display: block !important;
        margin: 0;
    }

    /* GAlllERY NAVIGATION */

    .more a:hover{
        background: #000;
        color: yellow !important;
        padding: 10px;
    }



    /* SPECIAL  */
    .btn{
        display: block !important;
    }

    .hide{
        display: none;

    }

    .hide.active{
        display: block;
        /* height: 100vh; */
    }



    .list-item{
        display: block;
    }

 /* SPECIAL ENDS */




    
}
